body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 21px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin-right: auto;
    margin-bottom: 0px;
}

#instructions {
    margin-right: auto;
    margin-bottom: 32px;
}

.main-container {
    width: 80vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.question-container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.child{
    margin-top: 0px;
}

.left-container, .right-container {
    width: 50%;
}

/* Left Container */
/* ********************************* */

.left-container {
    display: block;
    padding: 8px 16px 8px 16px;
    background-color: #d8d8d8;
}

.left-container p {
    width: 75%;
}

.left-container label {
    display: block;
    margin-bottom: 8px;
}

.opt-out {
    float: right; 
    margin-top: 16px;
}

.label-text {
    width: 100px;
    padding: 4px 8px 4px 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.opt-out input[type=checkbox] {
    display: none;
}

.label-text::before{
    font-family: FontAwesome;
    font-weight: 900;
}

input[type=checkbox] +.label-text::before {
    content: "\f096";
}

input[type=checkbox]:checked + .label-text::before{
    content: "\f14a";
}

input[type=checkbox]:checked + .label-text{
    color: #3cb3e0;
    border: 1px solid #3cb3e0;
}

.answer {
    font-size: 12px;
    color: gray;
    cursor: not-allowed;
}

/* Right Container */
/* ********************************* */

.right-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.inactive {
    background-color: #d8d8d8;
    color: gray;
}

.inactive input {
    pointer-events: none;
}

.right-container p {
    font-weight: 600;
}

.clarity-relevance p, .overall-score p{
    margin-top: 0;
}


.clarity-relevance {
    width: 55%;
    text-align: center;
}

.clarity-relevance {
    border-right: 1px solid #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.clarity-score {
    margin-bottom: 24px;
}

.scale {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.scale label {
    font-size: 12px;
}

.scale .score-label input {
    display: block;
}

.overall-score {
    width: 45%;
    padding: 16px;
    text-align: left;
}

.overall-score p {
    text-align: center;
}

.overall-score label {
    display: block;
    margin-bottom: 8px;
}

.overall-score input {
    margin-right: 8px;
}